<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.skripsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ahad"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.noActionBar">
        <activity android:name=".adapter.AdapterDonasi"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".activity.retrieve.RetrieveDonasi" />
        <activity android:name=".activity.ortu.TambahDonasi" />
        <activity android:name=".activity.update.UpdateUserData" />
        <activity android:name=".activity.retrieve.RetrieveUserData" />
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.santri.DashboardSantri" />
        <activity android:name=".activity.ortu.DashboardOrtu" />
        <activity android:name=".activity.ortu.InputAmalanYaumiyah" />
        <activity android:name=".activity.ortu.TambahAmalanYaumiyah" />
        <activity android:name=".activity.retrieve.RetrieveKategoriAmalanYaumiyah" />
        <activity android:name=".activity.mentor.DashboardMentor" />
        <activity android:name=".activity.detailmonActivity" />
        <activity android:name=".activity.AmalanActivity" />
        <activity android:name=".activity.SantriActivity" />
        <activity android:name=".activity.MonitoringActivity" />
        <activity android:name=".activity.AwalActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
    </application>

</manifest>